body {
	position: static;
	background: white;
}

h1, h2, h3, h4 {
	page-break-after: avoid;
}

.hidden {
	display: none;
}
.noprint {
	display: none;
}

#toolbox, #menuline, #tabs, #menu, #undercol, #copy {
	display: none;
}

#page.lowhead #header {
	display: none;
}

#header {
	background: transparent;
}

#header div {
	position: static;
	height: auto;
}

#header .main {
	width: auto;
	background: transparent; 
}

#header .left, #header .right {
	display: none;
}

#page {
	background: transparent !important;
	position: static;
}

#page .container {
	overflow: visible;
	background: transparent !important;
}

#page #main, #page #footer {
	margin: 0 !important;
	padding: 0 !important;
	background: transparent !important;
	position: static;
}

#page #footer {
	margin: 1cm 0 !important;
}

#main .content {
	min-height: 0;
	
}

#page.front #main {
	margin-right: 7cm !important;
}

#aktual {
	width: 5.5cm;
	background: white;
	color: black;
	border: 1px solid #0082c5;
	margin: 0.5cm;
	top: 0;
	min-height: 0;
}

#aktual a {
	color: #0082c5 !important;
}

#aktual .top {
	display: none;
}

#aktual .main, #aktual .bottom {
	position: static;
}

#aktual a img {
	border: none;
}

#aktual .main {
	background: transparent;
}

#aktual .grey {
	color: #555;
}
